/*===================================
=            $Содержание            =
===================================*/
/**
*
* Содержание
* Общие стили
* Header
* Footer
* Главная
* Прайс-лист
* Магазин
* Товар
**/
/*====================================
=            $Общие стили            =
====================================*/
body {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 960px;
}
.body-index {
  color: #ffffff;
  background: #070707 url("../img/bg-index-body.jpg") no-repeat center top;
}
.body-inner {
  color: #000000;
  background: #f8f5f2 url("../img/bg-inner-body.jpg") repeat;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
figure {
  margin: 0;
  padding: 0;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  margin-right: 16px;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background: #663d15;
}
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn:disabled:hover {
  background: #000000;
}
h1 {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 20px;
}
h2,
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
}
/*-----  End of $Общие стили  ------*/
/*===============================
=            $Header            =
===============================*/
.main-header {
  margin-bottom: 53px;
  background: #000000;
  color: #ffffff;
}
.inner-page .main-header {
  margin-bottom: 55px;
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.main-navigation a {
  display: block;
  padding: 26px 21px;
  text-decoration: none;
  color: #ffffff;
}
.main-navigation a:hover,
.main-navigation a:active {
  background-color: #242424;
}
.main-navigation .active a {
  position: relative;
}
.main-navigation .active a:hover {
  background: none;
}
.main-navigation .active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 4px;
  background: #ffffff;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 26px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}
.login:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -477px 1px;
  top: 27px;
  left: 20px;
}
.login:hover,
.login:active {
  background-color: #242424;
}
.login:hover:before {
  opacity: 0.3;
}
/*-----  End of $Header  ------*/
/*===============================
=            $Footer            =
===============================*/
.main-footer {
  margin-top: 45px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #232323 url("../img/bg-footer.jpg") repeat;
  color: #ffffff;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 77px;
}
.footer-contacts a {
  color: #ffffff;
  display: block;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  font-size: 0;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat;
}
.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk {
  background-position: -322px 12px;
}
.social-btn-fb {
  background-position: -220px 10px;
}
.social-btn-inst {
  background-position: -129px 10px;
}
.social-btn-vk:hover {
  background-position: -268px 12px;
}
.social-btn-fb:hover {
  background-position: -177px 10px;
}
.social-btn-inst:hover {
  background-position: -78px 10px;
}
.footer-copyright {
  float: right;
  max-width: 320px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000000;
  background: #ffffff;
}
/*-----  End of $Footer  ------*/
/*================================
=            $Главная            =
================================*/
.index-main {
  margin: 0 auto;
  margin-bottom: 68px;
}
.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.logo img {
  width: 368px;
  height: 204px;
}
.features-row {
  margin-bottom: 68px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-title {
  position: relative;
  padding-bottom: 38px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}
.features-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  bottom: 0%;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}
.features-item p {
  margin: 10px;
}
.index-content {
  margin-bottom: 35px;
  padding-top: 48px;
  padding-bottom: 54px;
  padding-right: 80px;
  padding-left: 80px;
  background: url("../img/bg-index-content-shadow.png") no-repeat center, #f8f5f2 url("../img/bg-index-content.jpg") repeat;
  color: #000000;
}
.content-column-left {
  float: left;
  width: 350px;
}
.content-column-right {
  float: right;
  width: 300px;
}
.content-column-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 42px;
}
.news-preview {
  list-style: none;
  margin: 0;
  padding: 0;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview time {
  text-transform: none;
  font-weight: normal;
}
.gallery {
  height: 260px;
  position: relative;
}
.gallery-content {
  height: 164px;
  margin: 0;
  border: 7px solid #ffffff;
  background: #cccccc;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.appointment-form input {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 106px;
  padding: 8px 15px;
  border: 2px solid #000000;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: #000000;
  background: #f9f6f3;
  outline: none;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
  margin-top: 12px;
}
/*-----  End of $Главная  ------*/
/*===================================
=            $Прайс-лист            =
===================================*/
.inner-page-price {
  margin-bottom: 60px;
}
.inner-page-title {
  margin-bottom: 45px;
}
.inner-page-title h1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline;
  padding-right: 35px;
  position: relative;
}
.breadcrumbs li:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  right: 15px;
  background: #000000;
  transform: rotate(45deg);
}
.breadcrumbs li:last-child {
  color: #aba9a7;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.info-content p {
  margin: 14px 0;
}
.content-price-table {
  margin-top: 32px;
  border-collapse: collapse;
  width: 100%;
}
.content-price-table td,
.content-price-table th {
  border: 2px solid #000000;
  padding: 8px 15px;
  width: 50%;
}
.content-price-table td:nth-child(2n),
.content-price-table th:nth-child(2n) {
  text-align: center;
}
.heading {
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;
}
.heading h2 {
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  display: inline;
  padding: 0 25px;
  position: relative;
  z-index: 2;
  background: #f8f5f2 url("../img/bg-inner-body.jpg") repeat;
}
.heading:after {
  content: "";
  display: block;
  border-bottom: 2px solid #000000;
  position: relative;
  top: -25px;
  z-index: 1;
}
.uncompressed-list {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}
.uncompressed-list li {
  position: relative;
  margin-bottom: 13px;
  padding-left: 20px;
}
.uncompressed-list li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #000000;
  transform: rotate(45deg);
}
.info-content-row {
  margin: 0;
}
.info-content-row h2 {
  margin-top: 45px;
  margin-bottom: 13px;
}
.info-content-part {
  float: left;
  width: 460px;
}
.info-content-part h2 {
  margin-top: 45px;
  margin-bottom: 26px;
}
.info-content-part:nth-of-type(2n+1) {
  margin-right: 20px;
}
.short-text {
  padding-right: 80px;
}
/*-----  End of $Прайс-лист  ------*/
/*================================
=            $Магазин            =
================================*/
.catalog-filter {
  float: left;
  width: 220px;
}
.catalog-filter label {
  display: block;
}
.catalog-products {
  float: right;
  width: 720px;
  font-size: 0;
  padding-top: 7px;
}
.catalog-product {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.catalog-product-photo {
  width: 220px;
  height: 165px;
}
.product-link {
  display: block;
  color: #000000;
  text-decoration: none;
}
.product-link:hover {
  text-decoration: underline;
}
.product-link-item {
  text-transform: none;
}
.catalog-product-info {
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
}
.catalog-product-buy {
  margin-top: 10px;
}
.btn-buy {
  padding: 13px 18px;
  margin-right: 0;
  width: 42px;
  float: right;
}
.catalog-product-price {
  display: inline-block;
  vertical-align: top;
  padding: 13px;
  background: #e5e5e5;
  text-align: center;
  width: 82px;
}
.catalog-pagination {
  list-style: none;
  margin: 0;
  margin-top: 21px;
  margin-left: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  display: block;
}
.catalog-pagination li {
  display: inline-block;
  margin-right: 5px;
}
.catalog-pagination a,
.catalog-pagination span {
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  line-height: 44px;
  padding: 0 18px;
}
.catalog-pagination a {
  background: #000000;
  color: #ffffff;
  text-decoration: none;
}
.catalog-pagination a:hover,
.catalog-pagination a:active {
  background: #663d15;
}
.catalog-pagination span {
  background: #ffffff;
}
/*-----  End of $Магазин  ------*/
/*==============================
=            $Товар            =
==============================*/
.product-photos {
  float: left;
  width: 500px;
  font-size: 0px;
}
.main-product-photo {
  margin: 10px;
}
.additional-product-photo {
  display: inline-block;
  width: 150px;
  margin: 10px 5px;
}
.product-info {
  float: right;
  width: 420px;
}
.product-price {
  display: inline-block;
}
.product-model {
  float: right;
}
.product-stock-status {
  display: inline-block;
}
